<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="none">
    <test name="Test">
        <listeners>
            <listener class-name="listeners.TestListener" />
        </listeners>
        <parameter name="emulator" value="true" />
        <parameter name="platformName" value="Android" />
    <!--       <parameter name="udid" value="emulator-5554" />                -->
           <parameter name="deviceName" value="Pixel_4_XL_31" />
    <!--             <parameter name="systemPort" value="10000" />             -->
    <!--            <parameter name="chromeDriverPort" value="11000" />        -->
          <classes>
              <class name="ObjectStyle.testCases.LoginTests2"/>
          </classes>
      </test>
  <!--
      <test name="iPhone11">
          <listeners>
              <listener class-name="listeners.TestListener" />
          </listeners>
          <parameter name="platformName" value="iOS" />
          <parameter name="udid" value="63E2D54C-CA63-4ECA-89C2-61F2F41EE2F7" />
          <parameter name="deviceName" value="iPhone 12 Pro Max" />
          <parameter name="wdaLocalPort" value="10001" />
          <parameter name="webkitDebugProxyPort" value="11001" />
          <classes>
              <class name="ObjectStyle.testCases.LoginTests2"/>
          </classes>
      </test>
  -->
</suite> <!-- Suite -->